.h5p-repetitor-top-bar {
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  border-bottom: 1px solid var(--h5p-theme-stroke-1);
  box-sizing: border-box;
  font-size: var(--h5p-theme-font-size-m);
  overflow: hidden;
  padding: var(--h5p-theme-spacing-s);

  .h5p-repetitor-page-announcer {
    align-items: center;
    display: flex;
    gap: var(--h5p-theme-spacing-xxs);
    flex-direction: column;
    justify-content: center;

    .h5p-repetitor-page-announcer-title {
      line-height: 1.1;
      font-weight: 700;
      text-align: center;
    }
  }
}
